<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="robots" content="noindex, nofollow">	
		<title> About</title>
	  </head>
	<div th:replace="~{fragments/navbar}"></div>


	<P>
		The National Weather Service (NWS) API allows developers access to critical forecasts, alerts, and observations, along with other weather data. The API was designed with a cache-friendly approach that expires content based upon the information life cycle.
	</P> 
	
	<p>
		The API uses linked data to allow applications to discover content. Similar to a web site that provides HTML links to help users navigate to each page, linked data helps applications navigate to each endpoint. You may also review the OPEN API specification on the "Specification" tab on this page, or directly using the specification endpoint (that is also used to create the tab presentation): https://api.weather.gov/openapi.json.
	</p>
		
	   <a href="https://www.weather.gov/documentation/services-web-api" target="_blank"> https://www.weather.gov/documentation/services-web-api</a>
	  
	
	
<pre>
	
</pre>


</html>