<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="robots" content="noindex, nofollow">	
		<title> Weather Alerts by State</title>
	  </head>


<div th:replace="~{fragments/navbar}"></div>
<body style="margin:30;padding:2">


Alerts<p>
	
<a href="/alert?state=MD">MD Alerts </a><P>
<a href="/alert?state=VA">VA Alerts </a><P>
<a href="/alert?state=WV">WV Alerts </a><bodyP>

</body>
</html>