<html lang="en" xmlns:th="http://www.thymeleaf.org">
	

<div th:replace="~{fragments/navbar}"></div>

<title> Weather Forecast</title>

Forecasts<p>
<a href="/wx/?lat=38.3&lon=-75.6"> Salisbury</a> <P>
<a href="/wx/?lat=39.48&lon=-77.636"> Boonsboro</a><P>
<a href="/wx/?lat=36.228&lon=-116.779"> Death Valley</a><P>
<a href="/wx/?lat=35.28&lon=-120.672">San Luis Obispo </a><P>
<a href="/wx/?lat=61.2036&lon=-149.9099">Anchorage, AK </a><P>
<a href="/wx/?lat=64.502&lon=-165.390">Nome, AK </a><P>
<a href="/wx/?lat=32.2769&lon=-110.7472">Tuscon, AZ </a><P>
	


</html>