<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="noindex, nofollow">	
	<title> Weather Links</title>
  </head>


	<body style="margin:30;padding:2">
	<div th:replace="~{fragments/navbar}"></div>


			
	   <a href="https://www.weather.gov/documentation/services-web-api" target="_blank"> https://www.weather.gov/documentation/services-web-api</a><P>
	   <a href="  https://www.weather.gov/forecastmaps/"target="_blank">Forecast Maps </a><P>
	   <a href="https://en.wikipedia.org/wiki/List_of_National_Weather_Service_Weather_forecast_offices" target="_blank"> List of National Weather Service Weather forecast offices</a><P>
	   <a href="https://github.com/open-meteo/open-meteo" target="_blank"> Open-Meteo Weather API</a><P>
	   <a href="https://www.nhc.noaa.gov/" target="_blank"> National Hurricane Center </a><P>  
	   <a href="https://www.spaceweather.gov/" target="_blank">https://www.spaceweather.gov/ </a><P>  
	   <a href="https://aviationweather.gov/" target="_blank">https://aviationweather.gov/ </a><P>  
	   <a href="https://www.drought.gov/" target="_blank"> https://www.drought.gov/</a><P>  
		<a href="https://fire.airnow.gov/v4beta/#5.98/39.367/-79.753" target="_blank"> https://fire.airnow.gov/</a><P>  
	   <a href="https://www.lightningmaps.org" target="_blank">www.lightningmaps.org </a><P>  
	   <a href="" target="_blank"> </a><P>  
		<a href="" target="_blank"> </a><P>  
   
	   
	
<pre>
	
</pre>

</body>
</html>