<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">	
<head>	
	<meta charset="utf-8">	
	<meta name="robots" content="noindex, nofollow">	
	<title>Map</title>	
</head>
<body style="margin:30;padding:2">
	
		<div th:replace="~{fragments/navbar}"></div>
			
		Map List<p>

			
		<a href="/map/?lat=39.48&lon=-77.636">Wash DC Area</a><P>
				
		<a href="/map/?lat=38.2864&lon=-75.749">Salisbury Area</a><P>	 
				
		<a href="/map/?lat=36.228&lon=-116.779">Death Valley Area</a><P>
			
		<a href="/map/?lat=61.1759&lon=-148.701"> Anchorage Area</a><P>
			
		<a href="/map/?lat=36.095&lon=-96.151">Tulsa, OK</a><P>		
			
		<a href="/map/?lat=32.2769&lon=-110.7472"> Tucson, AZ</a> <P>
			
			<pre>
				
			</pre>
		 
	</body>
</html>
		
		