<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="robots" content="noindex, nofollow">	
		<title> Meteo Observations</title>
	  </head>

<body style="margin:30;padding:2">
<div th:replace="~{fragments/navbar}"></div>

<title> Meteo Observations</title>

Meteo Observations<p>
<a href="/meteo/?lat=38.3&lon=-75.6"> Salisbury</a> <P>
<a href="/meteo/?lat=39.48&lon=-77.636"> Boonsboro</a><P>
<a href="/meteo/?lat=36.228&lon=-116.779"> Death Valley</a><P>
<a href="/meteo/?lat=35.28&lon=-120.672">San Luis Obispo </a><P>
<a href="/meteo/?lat=61.2036&lon=-149.9099">Anchorage, AK </a><P>
<a href="/meteo/?lat=64.502&lon=-165.390">Nome, AK </a><P>
<a href="/meteo/?lat=32.2769&lon=-110.7472">Tuscon, AZ </a><body>
	
</body>

</html>