<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="noindex, nofollow">	
	<title> Space Weather </title>
  </head>

<div th:replace="~{fragments/navbar}"></div>

<img src="https://services.swpc.noaa.gov/experimental/images/aurora_dashboard/tonights_static_viewline_forecast.png" width="500" ><P>

<img src="https://services.swpc.noaa.gov/images/animations/geospace/north_america/latest.png" width="500" ><P>	

</html>