<html>
	 <div th:replace="~{fragments/navbar}"></div>

<title> Favorite Station List</title>
<h1 th:text="${weathermsg}">  </h1>



<table sborder="1" class = "table table-striped table-responsive-md">
    <thead>
  <tr>
	
    <th>Name</th>
	<th>Station ID</th>
	<th>Temp</th>	
	<th>Wind Speed</th>	
	<th>Barometric Pressure</th>
	<th>Dewpoint</th>
	<th>Heat Index</th>
	<th>Humidity</th>
	<th>Conditions</th>	 
	<th>Local Time</th>
	

  </tr>
  </thead>
  <tbody>
  
	<tr th:each="obs:${obsList}">
		  		
		        <td th:text= "${obs.name}" ></td>				
				<td><a th:href="@{/sta/(station=${obs.stationIdentifier})}" th:text="${obs.stationIdentifier}"></a> </td>
				<td th:text= "${obs.temperature}" ></td>	
				<td th:text= "${obs.windSpeed}" ></td>
				<td th:text= "${obs.barometricPressure}" ></td>
				<td th:text= "${obs.dewpoint}" ></td>
				<td th:text= "${obs.heatIndex}" ></td> 			
				<td th:text= "${obs.relativeHumidity}" ></td>
				<td th:text= "${obs.textDescription}" ></td>		
				<td th:text= "${obs.timestamp}" ></td>							

  </tr>
  </tbody>
</table>
			
<pre>
	
	
</pre>

</html>