<!DOCTYPE html>
<html>
	
<head>
   <meta name="robots" content="noindex, nofollow" />
   <meta charset="utf-8">   	
</head>


<div th:replace="~{fragments/navbar}"></div>

<title> Weather Forecast</title>
<body style="margin:30;padding:2">
	
<h3 th:text="${weathermsg}">  </h3>
<h5 th:text="${name}"> </h5> 
<h5 th:text="${elevation}"></h5> 
<h5 th:text="${cwa}"></h5> 

<a th:href="@{${link}}" target="_blank" th:text="${detailstext}"></a> <p>

	
<a th:href="@{${radarLink}}"  target="_blank" > Local Radar Link </a> <p>
	
			
		
<h3 th:text="${time}">  </h3>

<pre>
	
</pre>
<table style="width:85%" border="1" class = "table table-striped table-responsive-md">
    <thead>
  <tr>
	<th>Icon</th>
    <th>Name</th>
	<th>Temp.</th>
	<th>Forecast Details</th>
	<th>Wind</th>
	<th>Short</th>
	<th>% Precip.</th>
   

  </tr>
  </thead>
  <tbody>
  
	<tr th:each="period:${periods}">
		
		<td> <img th:src="@{${period.icon}}" alt="wx"> </td>
		        <td th:text= "${period.name}" ></td>
				<td th:text= "${period.temperature}" ></td>
				<td th:text= "${period.detailedForecast}" ></td> 
	            
				<td th:text="${period.windSpeed}"></td>
				<td th:text="${period.shortForecast}"></td>
				<td th:text="${period.probabilityOfPrecipitation.value}"></td> 	
  </tr>
  </tbody>
</table>
</div>
<pre>
	
	
</pre>
	
<img th:src="@{${radarUrl}}" alt="wx"><body>
	

<div th:replace="~{fragments/mapfrag}"></div>

<img th:src="@{${satLink}}" alt="wx"><body>


<pre>
	
	
</pre>

</body>

</html>